/* stylelint-disable declaration-colon-space-after */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(19, 18, 18);
  color: white;
  text-align: center;
}

header {
  background-color: rgb(19, 18, 18);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.header-title {
  padding: 10px 0;
}

.numeric-filters-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.search-bar-container {
  color: white;
  padding: 50px 0;
}

.input {
  background-color: rgb(37, 34, 34);
  border-radius: 5px;
  color: white;
  margin: 1px 0 1px 8px;
  padding: 5px;
  width: 130px;
}

.form-button {
  background-color: rgb(37, 34, 34);
  border-color: yellow;
  border-radius: 5px;
  color:yellow;
  font-weight: 900;
  padding: 5px;
  width: 130px;
}

table {
  border-collapse: collapse;
  max-width: 90%;
  text-align: center;
}

thead {
  background-color: black;
  height: 80px;
  word-wrap: break-word;
}

tr th, tr td {
  padding: 8px;
  text-align: center;
  width: 10%;
}
